.portada img {
  height: 300px;
}

.form-contacto {
  width: 310px;
}

.mapa-contacto {
  width: 310px;
  height: 310px;
}

@media screen and (min-width: 768px) {
  .portada img {
    height: 400px;
  }
  .form-contacto {
    width: 400px;
  }
  .mapa-contacto {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 992px) {
  .portada img {
    height: 600px;
  }
}
