.foto {
  width: 14rem;
}

.dev-contenedor {
  cursor: pointer;
}

.dev-contenedor:hover {
  transition: 1200ms ease-in-out;
  -webkit-transform: dev-contenedorteY(360deg);
  transform: rotateY(360deg);
}

.nombre {
  text-align: center;
  color: #d9e9ea;
}

.imgs-contenedor {
  max-width: 1200px;
}

.previa {
  color: #d9e9ea;
  font-size: 2.2rem;
}

.frase {
  text-align: center;
  color: #fcfcfc;
  font-family: "Staatliches", cursive;
  font-size: 400%;
}

.linea {
  color: #d9e9ea;
}

.foto-modal {
  width: 20rem;
  align-items: center;
}
