@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap");

body {
  background: linear-gradient(90deg, #011a3e 10%, #376c9f 90%);
  color: #f2f2f2;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
figcaption {
  font-family: "Staatliches", cursive;
}

/* Galeria */
.galeria-img {
  cursor: pointer;
}

/* Entrada de Blog */

iframe {
  width: 100%;
  height: 32vh;
}

.icono {
  width: 3rem;
  height: 3rem;
}

.sede-img {
  width: 100%;
  height: 300px;
}

.simbolo-img {
  height: 300px;
  width: 100%;
}

.sede-desc {
  height: 70px;
  border: 1px solid #011a3e;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 768px) {
  iframe {
    height: 52vh;
  }

  .simbolo-img {
    height: 420px;
    width: 450px;
  }

  .premio {
    width: 32%;
  }

  .premio img {
    height: 250px;
  }
}

@media screen and (min-width: 992px) {
  iframe {
    height: 80vh;
  }

  .sede-img {
    height: 400px;
  }

  .icono {
    width: 2rem;
    height: 2rem;
  }

  .premio {
    width: 410px;
  }

  .premio img {
    height: 400px;
  }
}
