body {
  background: linear-gradient(90deg, #011a3e 10%, #376c9f 90%);
  color: #f2f2f2;
}

/* Galeria */
.galeria-img {
  cursor: pointer;
}

/* Entrada de Blog */
iframe {
  width: 100%;
  height: 700px;
}

.icon {
  width: 2rem;
  height: 2rem;
}
